body {
  background-color: #f9f7fe;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
}

header {
  border-bottom: 1px solid;
}
footer {
  border-top: 3px solid whitesmoke;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
.weather-info {
  background: white;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  max-width: 500px;
  margin: 30px auto;
  border-radius: 20px;
  padding: 20px;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}

.weather-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-details {
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.weather-details #humidity {
  color: #f65282;
  font-weight: bold;
}

.weather-details #wind-speed {
  color: #f65282;
  font-weight: bold;
}
.weather-container {
  display: flex;
}
.weather-temp {
  margin-top: 10px;
  font-size: 60px;
}
.weather-icon {
  width: 100px;
  height: 100px;
}
.weather-unit {
  margin-top: 20px;
  margin-right: 10px;
}

#search-button {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  border: none;
  color: white;
  font-weight: 400;
  background-color: #b899f2;
  border-radius: 5px;
  padding: 8px 12px;
  margin-left: 5px;
  font-size: 16px;
}

#search-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 60%;
  padding: 15px 30px;
  font-size: 16px;
}
